h1{
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Сторінка займає повну висоту */
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Легка фонова заливка */
}

/* Стилі для хедера */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.nav a:hover{
    background-color: #575757;
}

.content{
    margin-top: 60px;
    padding: 20px;
}

section{
    margin: 40px 0;
}

/* Футер */
footer {
    background-color: white;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    text-align: center;
    width: 100%;
}

footer{
    background: linear-gradient(black, #333);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}