
/* Загальні стилі для тіла та html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Легка фонова заливка */
}

/* Стилі для навігаційної панелі */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #333;
}

.navbar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #0056b3;
}

/* Контейнер для контенту */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Заголовок форми */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Секція форми */
.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

/* Стилі для форми */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

/* Стиль для кнопки входу */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стилі для тексту під формою */
p {
    margin-top: 20px;
    font-size: 0.9rem;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.nav a:hover{
    background-color: #575757;
}

.content{
    margin-top: 60px;
    padding: 20px;
}

section{
    margin: 40px 0;
}

/* Футер */
footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    text-align: center;
    width: 100%;
}

footer{
    background: linear-gradient(black, #333);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}